body {
    font-family: sans-serif;
}

.wrapper {
    padding-top: 100px;
}


.slidebar {
    display: none;
    padding: 20px;
    max-height: 300px; /* Set a maximum height for the slidebar */
    overflow-y: auto;
    height: 100vh;
    border-right: 1px solid rgb(190, 189, 189) ; /* Add vertical scroll if content exceeds height */
  }

  .lists {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

select {
    margin-right: 10px;
    padding: 8px;
    font-size: 14px;
}

.icon {
    color: rgb(0, 132, 255);
    padding-right: 10px;
}

.lists {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.container {

    position: fixed;
    max-width: 100;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto; /* Add vertical scroll if content exceeds height */
    max-height: 500px;
    gap: 50px; /* Set a maximum height for the container */
  }
  

.product-card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
}

.product-image {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    text-align: center;
}

.product-image img {
    max-width: 100%;
    max-height: 100%;
}

.product-title {
    font-size: 16px;
    margin: 0;
    text-align: center;
}

.product-price {
    font-size: 14px;
    margin: 0;
    text-align: center;
}

.add-to-cart-btn,
.view-btn {
    background-color: cornflowerblue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.25s ease;
}

.add-to-cart-btn:hover,
.view-btn:hover {
    opacity: 0.8;
}

@media(max-width:600px){
    .wrapper{
        padding-top: 280px;
    }
}